body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
}

.board-container {
    margin: 20px;
}

table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;

    /* Default color for unrevealed tiles */
    background-color: #eee;
}

.revealed {
    /* Color for revealed tiles */
    background-color: #ccc;

    /* Color for revealed tile text */
    color: #000;
}

.mine {
    /* Color for mines */
    background-color: #ff3333;
}

.stopwatch,
.mines-num {
    background-color: #eee;
    border: 1px solid #aaaaaa;
    font-size: x-large;
}

.emoji-btn {
    height: 60px;
    width: 60px;
    font-size: 43px;
    text-align: center;
    vertical-align: middle;
}
