body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.board-container {
    display: inline-block;
    margin: 20px;
}

table {
    margin: 100px auto;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #aaaaaa;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;

    /* Default color for unrevealed tiles */
    background-color: #eee;

    /* Default color for unrevealed tile text */
    color: #333;
}

.revealed {
    /* Color for revealed tiles */
    background-color: #ccc;

    /* Color for revealed tile text */
    color: #000;
}

.mine {
    /* Color for mines */
    background-color: #ff3333;
}